body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}

#card {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

img {
    border-radius: 50%;
    position: relative;
    left: 25px;
    bottom: 25px;
    margin: 0 auto;
}

#naam {
    position: relative;
    bottom: 25px;
    font-size: 32px
}

#status {
    font-size: 12px;
    position: relative;
    left: 25%;
    bottom: 25px;
}

#email {
    position: relative;
    left: 5px;
    bottom: 25px;
}